<div class="container mt-5 mb-5">
    <h1 class="text-center">ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fugit totam error minima est rem neque praesentium nisi aliquam animi, cupiditate id! Similique neque rem odio! Ducimus unde autem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum deleniti voluptatibus fugit hic excepturi harum molestiae? Animi, expedita sunt deleniti, reprehenderit in corporis, nam velit esse est porro corrupti doloribus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores totam commodi minus voluptas, perspiciatis laudantium eius, ducimus earum modi magnam eum doloribus, voluptatum expedita? Consectetur reprehenderit repellendus alias harum repudiandae.

        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore laborum odit, recusandae quod, nulla cupiditate repellendus assumenda nemo quam officiis nisi id labore a non ipsam eaque enim, excepturi incidunt?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus tempora aperiam esse nemo quisquam odit? Aliquam, officia! Deserunt dolorem dolorum nemo repellendus aut voluptatum iure commodi, fuga quos impedit doloremque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit aut nostrum necessitatibus, sunt sequi voluptatum, harum, excepturi dolores blanditiis minima debitis accusantium impedit magnam voluptatem expedita vel voluptatibus asperiores.
        <br/>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis blanditiis quo possimus. Accusantium possimus vero ex, quae tenetur odit repellendus nulla esse dicta doloribus inventore numquam tempore cumque quo dolor?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dignissimos, laboriosam nostrum modi dolorum doloremque laborum quidem? Voluptatem ratione adipisci, eum debitis dolorem et vitae voluptas molestiae? Expedita, dolore animi.

    </p>

</div>